html, #content {
    background: #808080;
}

#artistContent{
    border: 1px solid black;
    border-radius: 4px;
    width: 80%;
    height: 100%;
    margin-right: 10px;
    float: right;
}

#artistList{
    border: 1px solid black;
    border-radius: 4px;
    width: 15%;
    height: auto;
    margin-left: 10px;
    padding-top: 10px;
    float: left;
}

#contact{
    color: white;
}

#content{
    margin-bottom: 50px;
}

#links{
    list-style: none;
}

#mailerModal{
    height: 80%;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}

#image{
    width: 359px;
    display: block;
    margin: auto;
}

#logo{
    vertical-align: top;
    height: 50px;
    padding: 0;
}

#logo-large{
    vertical-align: top;
    width: 40%;
    padding: 0;
    transform: translateX(-50%);
    left: 45%;
    position: relative;
}

#logo-small{
    vertical-align: top;
    height: 40px;
    padding: 0;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

#mailBody{
    min-height: 200px;
    max-width: 100%;
    resize: none;
}

#navbar-small{
    margin-top: 5px;
    margin-left: 5px;
}







.artistInfo{
    border-top: 2px solid #a6a6a6;
    padding-top: 10px;
    padding-left: 10px;
}

.formLabel{
    font-weight: bold;
}

.mailInput{
    width: 100%;
    margin-bottom: 10px;
}

.navbar{
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    max-height: 51.6px !important;
}

.page{
    background: white;
    border-radius: 5px;
}

.pageContent{
    margin-top: 10px;
    padding: 10px;
    overflow: auto;
}

.tab-link{
    color: white;
}

.tab-link-small{
    color: black;
}

.title{
    padding-bottom: 15px;
}

@media(max-width:767px) {
    #nav-item-container{
        display: none;
    }

    #navbar-small{
        display: block;
    }
}

@media(min-width:768px) {
    #nav-item-container{
        display: block;
    }

    #navbar-small{
        display: none;
    }
}