<!DOCTYPE html>
<html>

<head>
  <title>Jazzophones</title>
  <%=stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
    <%=javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
      <%=csrf_meta_tags %>
</head>

<body>
  <div id="navbar-container">
    <nav id-="navbar" class="navbar navbar-inverse" role="navigation">
        <div id="nav-item-container" class="container-fluid">
          <%= link_to root_path do %>
            <%= image_tag "630_Logo.png", class: "navbar-brand", id: "logo"%>
          <% end %>
          <ul class="nav navbar-nav">
            <li role="presentation">
              <%= link_to '<i class="glyphicon glyphicon-home tab-link"></i> Home'.html_safe, root_path %>
            </li>
            <li role="presentation">
              <%= link_to '<i class="glyphicon glyphicon-music tab-link"></i> Famous Saxophonists'.html_safe, artists_path %>
            </li>
            <li role="presentation">
              <%= link_to '<i class="glyphicon glyphicon-arrow-down tab-link"></i> Player\'s Resources'.html_safe,  resources_path %>
            </li>
            <li role="presentation">
              <%= link_to '<i class="glyphicon glyphicon-info-sign tab-link"></i> Information for Sax Owners'.html_safe, info_path %>
            </li>
          </ul>
        </div>
        <div id="navbar-small" class="btn-group">
          <button id="navButton" class="btn dropdown-toggle glyphicon glyphicon-menu-hamburger" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          </button>
          <ul class="dropdown-menu">
            <li role="presentation">
              <%= link_to '<i class="glyphicon glyphicon-home tab-link-small"></i> Home'.html_safe, root_path %>
            </li>
            <li role="presentation">
              <%= link_to '<i class="glyphicon glyphicon-music tab-link-small"></i> Famous Saxophonists'.html_safe, artists_path %>
            </li>
            <li role="presentation">
              <%= link_to '<i class="glyphicon glyphicon-arrow-down tab-link-small"></i> Player\'s Resources'.html_safe,  resources_path %>
            </li>
            <li role="presentation">
              <%= link_to '<i class="glyphicon glyphicon-info-sign tab-link-small"></i> Information for Sax Owners'.html_safe, info_path %>
            </li>
          </ul>
          <%= link_to root_path do %>
            <%= image_tag "630_Logo.png", class: "navbar-brand", id: "logo-small"%>
          <% end %>
        </div>
    </nav>
  </div>

  <div id="content" class="container-fluid">
    <%=yield %>
  </div>


  <div id="mailer" class="footer navbar-fixed-bottom navbar-inverse">
    <div class="container-fluid">
      <h4 id="contact">Questions, comments, or concerns? To contact the owner of this site, <a href="#" data-target="#mailerModal" data-toggle="modal">click here</a>.</h4>
    </div>
  </div>

  <div id="mailerModal" class="modal fade" data-backdrop="static">
    <div class="modal-content">
      <div class="modal-header">
        <button onclick="clearForm();" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span area-hidden="true">&times;</span>
        </button>
      </div>
      <div id="notifications"></div> <!--Empty div for email confirmation -->
      <div class="modal-body">
        <form id="mailForm">
          <span class="formLabel">Your Email:</span>
          <input id="mailTo" type="text" class="mailInput"></input>
          <span class="formLabel">Subject:</span>
          <input id="mailSubject" type="text" class="mailInput"></input>
          <span class="formLabel">Message:</span>
          <textarea id="mailBody" class="mailInput"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button onclick="mailer();" type="button" class="btn btn-primary" form="mailForm">Send Message</button>
        <button onclick="clearForm();" type="button" class="btn btn-danger" data-target="#mailerModal" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>

</body>

</html>
