<div class="page">
    <div class="pageContent">

      <h1 class="title">Famous Artists</h1>


      <div id="artistList">
        <ul id="links">
          <li><a href="javascript:getBio('Julian Edwin Adderley');">Cannonball Adderley</a></li>
          <li><a href="javascript:getBio('Benny Carter');">Benny Carter</a></li>
          <li><a href="javascript:getBio('John Coltrane');">John Coltrane</a></li>
          <li><a href="javascript:getBio('Dexter Gordon');">Dexter Gordon</a></li>
          <li><a href="javascript:getBio('Kenneth Bruce Gorelick');">Kenny G</a></li>
          <li><a href="javascript:getBio('Woody Herman');">Woody Herman</a></li>
          <li><a href="javascript:getBio('Johnny Hodges');">Johnny Hodges</a></li>
          <li><a href="javascript:getBio('Charlie Parker');">Charlie Parker</a></li>
          <li><a href="javascript:getBio('Sonny Rollins');">Sonny Rollins</a></li>
          <li><a href="javascript:getBio('Lester Young');">Lester Young</a></li>
        </ul>
      </div>


      <div id="artistContent">
        <div>
          <div id="image"></div>
        </div>
        <div class="artistInfo">
          <strong>Name: </strong>
          <p>
            <div id="name"></div>
          </p>
        </div>
        <div class="artistInfo">
          <strong>Nicknames: </strong>
          <p>
          <div id="nicknames"></div>
          </p>
        </div>
        <div class="artistInfo">
          <strong>Born: </strong>
          <p>
            <div id="birth"></div>
          </p>
          <strong>Died: </strong>
          <p>
            <div id="death"></div>
          </p>
        </div>
        <div class="artistInfo">
          <strong>Bio: </strong>
          <p>
            <div id="bio"></div>
          </p>
        </div>
        <div class="artistInfo">
          <strong>More Info: </strong>
          <p>
          <div id="url"></div>
          </p>
        </div>
      </div>

    </div>
</div>

<script>
  $( document ).ready( getBio("Julian Edwin Adderley") );
</script>

<!--

  Bibliography

  Cannonball Adderley. Bio.com. Accessed June 06, 2016. http://www.biography.com/people/cannonball-adderley-9176317
  Benny Carter. Bio.com. Accessed June 22, 2016. http://www.biography.com/people/benny-carter-9239852
  John Coltrane. Bio.com. Accessed June 06, 2016. http://www.biography.com/people/john-coltrane-9254106
  Kenny G. Bio.com. Accessed June 22, 2016. http://www.biography.com/people/kenny-g-21212793
  Dexter Gordon. Bio.com. Accessed June 22, 2016. http://www.biography.com/people/dexter-gordon-37899
  Woody Herman. Bio.com. Accessed June 22, 2016. http://www.biography.com/people/woody-herman-9336339
  Johnny Hodges. Bio.com. Accessed June 22, 2016. http://www.biography.com/people/johnny-hodges-9340825
  Charlie Parker. Bio.com. Accessed June 06, 2016. http://www.biography.com/people/charlie-parker-9433413
  Sonny Rollins. Bio.com. Accessed June 22, 2016. http://www.biography.com/people/sonny-rollins-9462811
  Lester Young. Bio.com. Accessed June 22, 2016. http://www.biography.com/people/lester-young-9539541


  Images

  Cannonball Adderley. AllMusic.com. Accessed June 22, 2016. http://www.allmusic.com/artist/cannonball-adderley-mn0000548338
  Benny Carter. Wikipedia.com. Accessed June 24, 2016. https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Benny_Carter.jpg/330px-Benny_Carter.jpg
  John Coltrane. Wikipedia.com. Accessed June 24, 2016. https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/John_Coltrane_1963.jpg/330px-John_Coltrane_1963.jpg
  Kenny G. Wikipedia.com. Accessed June 24, 2016. https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/KennyGHWOFMay2013.jpg/330px-KennyGHWOFMay2013.jpg
  Dexter Gordon. Wikipedia.com. Accessed June 24, 2016. https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Dexter_Gordon1.jpg/330px-Dexter_Gordon1.jpg
  Woody Herman. Wikipedia.com. Accessed June 24, 2016. https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Woody_Herman_1949.JPG/330px-Woody_Herman_1949.JPG
  Johnny Hodges. Wikipedia.com. Accessed June 24, 2016. https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Johnny_Hodges_and_Al_Sears%2C_Aquarium%2C_New_York%2C%2C_ca._Nov._1946_%28William_P._Gottlieb_04191%29.jpg/330px-Johnny_Hodges_and_Al_Sears%2C_Aquarium%2C_New_York%2C%2C_ca._Nov._1946_%28William_P._Gottlieb_04191%29.jpg
  Charlie Parker. Wikipedia.com. Accessed June 24, 2016. https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Charlie_Parker%2C_Tommy_Potter%2C_Miles_Davis%2C_Max_Roach_%28Gottlieb_06941%29.jpg/330px-Charlie_Parker%2C_Tommy_Potter%2C_Miles_Davis%2C_Max_Roach_%28Gottlieb_06941%29.jpg
  Sonny Rollins. Wikipedia.com. Accessed June 24, 2016. https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Sonny_Rollins_2011.jpg/330px-Sonny_Rollins_2011.jpg
  Lester Young. Wikipedia.com. Accessed June 24, 2016. https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Lester-Young-LIFE-1944.jpg/330px-Lester-Young-LIFE-1944.jpg

-->