<div class="page">
    <div class="pageContent">
        <h1 class="title">Greetings visitors, fellow saxophonists, and curious minds</h1>
        <p>
            Thank you for visiting Jazz Saxophones! This site will give you some insight into the world of jazz saxophonists.
            Take a look through some of the history by visiting the "Artists" section. There you will find information about
            a number of famous jazz saxophonists over the years. Check out our "Player's Resources" to get ahold of some practice
            materials and audio helpers. Finally, head on over to "Information for Sax Owners" to learn some tips about the care and
            maintenance of your horn.
        </p>
        <%= image_tag "630_Logo_Large.png", id: "logo-large"%>
    </div>
</div>