<div class="page">
    <div class="pageContent">
        <h1 class="title">Player's Resources</h1>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3>Whoops! There isn't any content here!</h3>
          </div>
          <div class="panel-body">
            <h4>
              We're terribly sorry, but there isn't any content on this page.
              The content for this page was going to be implemented in Python, but it turns out that it
              doesn't play nicely with Ruby on Rails. This page can be viewed in the Python-based project named
              "djfearon0_cosc630_python_example".
            </h4>
          </div>
        </div>
    </div>
</div>